<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução aos Módulos Python</title>
    <!-- Adicionando o favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Estilo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bem-vindo à Introdução aos Módulos Python</h1>
    <p>Explore as páginas sobre os módulos Python para Windows e Linux, e os módulos de janelas:</p>

    <ul>
        <li><a href="{{ url_for('modulos_windows') }}">Módulos para Windows</a></li>
        <li><a href="{{ url_for('modulos_linux') }}">Módulos para Linux</a></li>
        <li><a href="{{ url_for('modulos_janelas') }}">Módulos de Janelas</a></li>
    </ul>
</body>
</html>
